*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.image img{
    height: 97px;
    width: 236px;
    float: left;
}
div nav ul li{
    margin: 0;
    padding: 0;
   vertical-align: baseline;
   list-style-type: none;
   float: left;
   font:inherit;
  }
header nav{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    height:93px;
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;  
}
nav ul li a {
    line-height: 80px;
    color:white;
    padding: 12px 15px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
header.head-bar{
    width: 100%;
}
.conatainer{
 margin-top: 92px;
height: 600px;
width: 100%;
background-image: url("4H5A2573-min2-min.jpg");
background-position: center center;
background-repeat: no-repeat;
background-size: 100% 100%;
animation-name:myani;
animation-duration: 30s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}
@keyframes myani{
  0%{background-image:url("4H5A2573-min2-min.jpg");}
  35%{background-image: url("sb2.jpg");}
  75%{background-image: url("sb3.jpg");}
}
div.marquee h3{
  height: 35px;
  width: 100%;
  color: red;
}
div.image-gallary{
    background-color: black;
    color: white;
    width: 100%;
    text-align: center
    
}
.photo-gallery{
    width:90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.pic{
    position: relative;
    height: 230px;
}
.pic img{
    width:100% ;
    height: 100%;
    border-radius: 10px; 
}
footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    height: 300px;

  }
  
  .footer{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1 0 300px;
    margin-bottom: 20px;
  }
  
  h3 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  p, ul {
    margin: 0;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  i {
    margin-right: 5px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    
  }
  
